
@{
    ViewBag.Title = "ComponentRequisitionList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="breadcrumb-holder container-fluid" style=" background-color: #C46154; ">
    <ul class="breadcrumb" style="padding: 8px; ">
        <li class="breadcrumb-item"><a href="#">Data </a></li>
        <li class="breadcrumb-item active">Component Requisition List</li>
    </ul>
</div>
<section class="forms">

    <div class="container-fluid">

        <div class="col-lg-8 offset-2">
            <div class="card" style="height: 200px;">
                <div class="card-close">

                </div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Search</h3>
                </div>
                <div class="card-body">

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label">Search Using Oracle requisition Number</label>
                            <div class="col-sm-4">
                               
                                <input id="txtReqNumber" type="text" placeholder="Requisition Number" class="form-control form-control-success">

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">

                                <button class="btn btn-primary" id="btn" style="width: 200px;" onclick=" GetComponentList();">Search</button>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12" id="divList" style="display: none">
            <div class="bar-chart-example card" id="divCard">
                <div class="card-close">

                </div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Result</h3>
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-striped table-bordered" width="900" cellspacing="0">

                        <thead>
                            <tr>
                                <th>Component Name</th>
                                <th>Requisition Quantity</th>
                                <th>Oracle Requisition Number</th>
                                <th>Used Quantity</th>
                                <th>Oracle Req.Date</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>



    </div>
</section>
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/iziToast.min.js"></script>
<script src="~/js/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/vendor/JqueryChoosen/chosen.jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>

<script>    

    $(document).ready(function() {

       
    });



    function GetComponentList() {
        
        if ($('#txtReqNumber').val() == "") {
            
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning',
                message: 'Requisition Number Required'
            });
        } else {
            
       


        $("#divList").show();

        var buttonCommon = {};

        var table = $('#datatable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetComponentReqList", "ProjectComponents")",
                "type": "GET",
                "data": function (d) {

                    d.reqNumber = $('#txtReqNumber').val();
                 

                },

                "datatype": "json"
            },
            "destroy": true,
            
            "pageLength": 50,
           
            "scrollY": "500px",
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'copyHtml5',
                    text: '<i class=" fa fa-files-o"></i> Copy',

                   
                    exportOptions: { orthogonal: 'export' }
                },

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                   
                    
                }),

                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-files-o"></i> Csv',
                    exportOptions: { orthogonal: 'export' },
                    title: 'Data export'
                },


                {
                   
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: $('h1').text(),
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: false,
                    autoPrint: true
                   
                }


             
            ],

            "columns": [
                { "data": "ComponentName", "autoWidth": true, "searchable": true },
                { "data": "ReqQuantity", "autoWidth": true},
                { "data": "OracleReqNumber", "autoWidth": true },
                { "data": "UsedQuantity", "autoWidth": true },
                {
                    "data": "OracleReqDate",
                    "type": "date ",
                    "render": function (data) {

                    
                        var dateString = data.substr(6);
                        var currentTime = new Date(parseInt(dateString));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = day + "/" + month + "/" + year;
                       
                        return date;
                }
                
                
                , "autoWidth": true }
               
            ]
        });




        table.buttons().container()
            .appendTo('#datatable_wrapper .small-4.columns:eq(0)');
        }
        
    }

</script>