
@{
    ViewBag.Title = "LineAssign";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



@*<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Account </a></li>
        <li class="breadcrumb-item active">CreateEmployee</li>
    </ul>
</div>*@

@*Main Dashboard*@
@*Main Dashboard*@
@*Main Dashboard*@
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="height: 490px;">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Add New Employee</h3>
                    </div>


                    <div class="card-body">

                        <div class="form-horizontal" style="margin-top: 30px;">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Employee</label>
                                <div class="col-sm-6" id="">
                                    <input id="txtEmployee" type="text" maxlength="11" placeholder="Search Employee" required="" class="form-control form-control-success">


                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Line Name</label>
                                <div class="col-sm-4" id="">
                                    <select id="txtLine" data-placeholder="Choose a Line" class="chosen-select form-control" tabindex="1"></select>

                                </div>
                                <label class="col-sm-2 form-control-label" style="color: red">*</label>
                            </div>


                            
                        </div>
                        <div class="form-group row">

                            <div class="col-sm-8 offset-sm-4">

                                <button class="btn btn-primary" id="btnSave"><i class="fa fa-plus"></i> Save</button>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
          

        </div>


        @*<div class="card">

                <div class="card-body">
                    <div class="form-group row">

                    </div>

                </div>
            </div>*@
    </div>

    <input type="hidden" name="hdemployeeId" id="hdemployeeId" />
</section>


@*Scripts and Styles*@
<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/js/vendor/JQueryEasyUI/themes/black/easyui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="~/js/vendor/jquery.easyui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/iziToast.min.js"></script>


<script>    

    $(document).ready(function() {
        LoadAllLines();

    });



    function LoadAllLines() {
       

        var url = " @Url.Action("GetLineList", "Admin")";
        $.getJSON(url, function(json) {
            var elem = $("#txtLine");
            $("#txtLine").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'>---Select---</option>");

            $.each(json, function(idx, obj) {

                elem.append('<option value="' + obj.LineId + '">' + obj.LineName + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });


        });
    }

</script>