<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.100.97/wcms</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://192.168.100.97/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/wcms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WCMSCellPhoneProjectEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.100.97;Initial Catalog=CellPhoneProject;User ID=sa;Password=Adios82amigo;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WCMS_ENTITY.WCMSCellPhoneProjectEntities, WCMS_ENTITY" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WCMSEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WCMS_ENTITY.WCMSEntities, WCMS_ENTITY" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WCMSConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WCMSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WKPIEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=192.168.100.97;Initial Catalog=WKPI;User ID=sa;Password=Adios82amigo;Application Name=EntityFramework" Name="Data Source=192.168.100.97;Initial Catalog=WKPI;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WCMS_ENTITY.WKPIEntities, WCMS_ENTITY" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VsunDBEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=192.168.139.44;Initial Catalog=VsunDB;User ID=sa;Password=vsun123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WCMS_ENTITY.VsunDBEntities, WCMS_ENTITY" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VsunAdoDBEntities" Order="7" Enabled="False">
          <Destination Path="Data Source=192.168.139.44;Initial Catalog=VsunDB;User ID=sa;Password=vsun123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.139.44;Initial Catalog=VsunDB;User ID=sa;Password=vsun123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VsunAdoDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.139.44;initial catalog=VsunDB;user id=sa;password=vsun123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="adoWcms" Order="8" Enabled="False">
          <Destination Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.100.97;Initial Catalog=RBSYNERGY;User ID=sa;Password=Adios82amigo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\adoWcms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.100.97;initial catalog=RBSYNERGY;user id=sa;password=Adios82amigo" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="adoWcmsfactoryserver" Order="9" Enabled="False">
          <Destination Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\adoWcmsfactoryserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.200.102;initial catalog=WCMS;user id=sa;password=Barrett.50" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)adoWcms-Web.config Connection String">
      <ParameterValue>Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)adoWcmsfactoryserver-Web.config Connection String">
      <ParameterValue>Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VsunAdoDBEntities-Web.config Connection String">
      <ParameterValue>Data Source=192.168.139.44;Initial Catalog=VsunDB;User ID=sa;Password=vsun123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VsunDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/vsun.csdl|res://*/vsun.ssdl|res://*/vsun.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.139.44;Initial Catalog=VsunDB;User ID=sa;Password=vsun123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WCMSCellPhoneProjectEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WCMSCellPhoneProjectEntity.csdl|res://*/WCMSCellPhoneProjectEntity.ssdl|res://*/WCMSCellPhoneProjectEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.100.97;Initial Catalog=CellPhoneProject;User ID=sa;Password=Adios82amigo;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WCMSConnectionString-Web.config Connection String">
      <ParameterValue>data source=192.168.200.102;initial catalog=WCMS;user id=sa;password=Barrett.50;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WCMSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WCMSEntities.csdl|res://*/WCMSEntities.ssdl|res://*/WCMSEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.200.102;Initial Catalog=WCMS;User ID=sa;Password=Barrett.50"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WKPIEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EmployeeEntity.csdl|res://*/EmployeeEntity.ssdl|res://*/EmployeeEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.100.97;Initial Catalog=WKPI;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>