
@{
    ViewBag.Title = "RepairAndSolderingReport";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid">

    <div class="col-lg-8 offset-2">
        <div class="card" style="border: 2px solid darkcyan;height: 300px;">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Search Report </h3>
            </div>
            <div class="card-body">

                <div class="form-horizontal">
                    @*<div class="form-group row">
                            <label class="col-sm-4 form-control-label">Model Name</label>
                            <div class="col-sm-4">

                                <select id="txtProject" data-placeholder="Choose a Line" class="chosen-select form-control"> </select>

                            </div>
                        </div>*@

                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">From Date</label>
                        <div class="col-sm-5">
                            <input id="txtReqDate" type="text" placeholder="Requisition Date" class="form-control form-control-success">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">To Date</label>
                        <div class="col-sm-5">
                            <input id="txtToDate" type="text" placeholder="Requisition Date" class="form-control form-control-success">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Project Name</label>
                        <div class="col-sm-5" id="">
                            <select id="txtProject" data-placeholder="Choose a Project" class="chosen-select form-control" tabindex="1"></select>
                        </div>
                        <label class="col-sm-2 form-control-label" style="color: red">*</label>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 offset-sm-4">

                            <button class="btn btn-primary" id="btnSearch" style="width: 150px;margin-left: 2px;"> Search</button>

                        </div>

                    </div>
                    @*<div class="form-group row">
                        <div class="col-sm-12 offset-sm-4" id="img" style="display:none;">
                            <img src="~/img/Filling.gif" style="margin-left: 50px;width: 40px;height: 40px;" />..Loading Please Wait


                        </div>

                    </div>*@

                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="col-lg-12">
        <div class="card col-lg-12" style="border: 2px solid darkcyan;display: none;" id="tblDataDiv">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Report Data </h3>
            </div>
            <div class="card-body">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" style="" id="btnPrint">Print</button>

                </div>
                <div id="masterContent">
                    <h4></h4>
                    <div class="row" style="text-align: center">
                        <h2 id="modelName" style="margin-left:500px;"></h2>
                        <div class="col-lg-12" id="showData">
                            


                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>     
</div>
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link href="~/js/vendor/DatatablePrint/jquery-ui-1.12.1.css" rel="stylesheet" />
<script src="~/js/vendor/DatatablePrint/jquery-ui-1.12.1.js"></script>

@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/js/iziToast.min.js"></script>
<script src="~/js/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/vendor/JqueryChoosen/chosen.jquery.min.js"></script>
<script src="~/js/printPreview.js"></script>

<script>
    $(function() {

        $("#txtReqDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
    });


    $(document).ready(function() {


        LoadAllProjects();


        $("#btnSearch").click(function () {


            GetRepairAndSolderingReport();

        });

        $("#btnPrint").printPreview({
            obj2print: '#masterContent',
            width: '810',
            title: 'Soldering And Others Repair',
            model: $('#txtProject option:selected').text()
    });


    });

    var totalRework;
    function GetRepairAndSolderingReport() {
        totalRework = 0;
        $("#showData").empty();
        var gridateFrom = $("#txtReqDate").val().split('-');
        var gridateTo = $("#txtToDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];
        var projectId = $('#txtProject').val();
        var projName = $('#txtProject option:selected').text();
        $.ajax({
            url: ' @Url.Action("GetRepairAndSolderingReport", "Report")',
            type: 'Post',
            data: JSON.stringify({ fromdate: fromdate, todate: todate, projectId: projectId }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function(data) {
                if ((data.repairList).length == 0) {
                    // $('#divSearchedIssue').empty();
                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Warning',
                        message: 'No Data Found'
                    });
                    $("#tblDataDiv").hide();
                    return false;

                } else {

                    totalRework = data.reworkListCount;
                    console.log(data);
                    
                    $("#modelName").text('Model: '+projName);
                    
                    $("#tblDataDiv").show();

                    var dataList = JSON.parse(data.repairList);

                    var col = [];
                    for (var i = 0; i < dataList.length; i++) {
                        for (var key in dataList[i]) {
                            if (col.indexOf(key) === -1) {


                                //alert(key);
                                col.push(key);


                            }
                        }
                    }

                    //debugger
                    var table = document.createElement("table");
                    table.className = "table table-bordered";
                    table.id = "tblrepairData";
                    table.setAttribute('padding', '2');
                    table.style.padding = "2px";
                    table.style.margin = "2px";

                    var tr = table.insertRow(-1);

                    for (var i = 0; i < col.length; i++) {
                        var th = document.createElement("th");
                        th.innerHTML = col[i];
                        tr.appendChild(th);
                    }


                    for (var i = 0; i < dataList.length; i++) {

                        tr = table.insertRow(-1);

                        for (var j = 0; j < col.length; j++) {
                            var tabCell = tr.insertCell(-1);
                            tabCell.innerHTML = dataList[i][col[j]];
                        }
                    }


                    var divContainer = document.getElementById("showData");


                    //var e = $('<div style="display:block;border:1px solid black;text-align:center;font-weight:bold;">Aesthetic Fault</div><br/>');
                    //$('#showData').append(e);

                    divContainer.appendChild(table);


                    GenerateFooter();


                }

            },
            error: function(data, textStatus, jqXHR) {
                toastr.error(textStatus + " " + result + " " + jqXHR);
            }
        });

    }

    var repairList = [];

    function GenerateFooter() {
        repairList = [];
        debugger;
        var table = document.getElementById("tblrepairData");
        var id = table.id;

        $('#' + id + ' tbody tr th').each(function(i) {
            //if (i > 1)
            calculateColumn(i);
        });
        GetFooterValues();
    }

    function calculateColumn(index) {
        debugger;
        var total = 0;
        var table = document.getElementById("tblrepairData");
        var id = table.id;
        $('#' + id + '>tbody > tr').each(function() {
            var value = parseInt($('td', this).eq(index).text());
            if (!isNaN(value)) {
                total += value;
            }
        });


        repairList.push({
            "index": index,
            "total": total
        });
    }

    var rowSumList = [];

    function GetFooterValues() {
        debugger;
        //alert("ore baba ");
        //debugger;
        var cell;
        var cell1;
        var cell2;

        var table = document.getElementById("tblrepairData");

        var row = table.insertRow(-1);

        cell1 = row.insertCell(0);
        //cell2 = row.insertCell(1);
        cell1.innerHTML = '<b style="font-weight:bold;font-size:20px;">Total</b>';
        // cell2.innerHTML = "<b></b>";


        $.each(repairList, function(key, item) {

            if (item.index > 0) {

                cell = row.insertCell(item.index);
                cell.innerHTML = "<b style=font-weight:bold;font-size:20px;>" + item.total + "</b>";
            }

        });

        CalculateTableRowSum();

    }


    function CalculateTableRowSum() {

        debugger;
        var total = 0;
        var percent ;
        var table = document.getElementById("tblrepairData");
        var id = table.id;
        $('#' + id + '>tbody > tr').each(function(i) {


            


                $(this).find('td').each(function(j) {

                
                    var value = parseInt($(this).text());
                    if (!isNaN(value) && value.length !== 0) {
                        total += parseInt(value);


                    }

                });
            // alert(total);
            
                if (i == 0) {
                    $(this).append('<td style="font-weight:bold;font-size:18px;"> Total</td>');
                    $(this).append('<td style="font-weight:bold;font-size:18px;"> Total Fault</td>');
                    $(this).append('<td style="font-weight:bold;font-size:18px;"> Fault(%)</td>');
                    rowSumList.push({
                        "index": i,
                        "total": total
                    });
                    total = 0;

                } else {

                    percent = parseFloat((total * 100) / parseInt(totalRework)).toFixed(2);
                    $(this).append('<td style="font-weight:bold;font-size:18px;">' + total + '</td>');
                    $(this).append('<td style="font-weight:bold;font-size:18px;">' + totalRework + '</td>');
                    $(this).append('<td style="font-weight:bold;font-size:18px;">' + percent + '%</td>');
                    rowSumList.push({
                        "index": i,
                        "total": total
                    });
                    total = 0;
                    percent = 0;
                }
        });


        //GenerateTableRowSum();

        //$('#' + id + '>tbody > tr').eq(0).append('<td style="font-weight:bold;font-size:20px;"> Total Fault</td>');
       // $('#' + id + '>tbody > tr').eq(1).append('<td style="font-weight:bold;font-size:20px;">' + totalRework + '</td>');

        console.log(rowSumList);
    }

    function GenerateTableRowSum() {

        var cell;
        var cell1;
        var cell2;

        var table = document.getElementById("tblrepairData");

        var row = table.insertColumn(-1);

        cell1 = row.insertCell(0);
        //cell2 = row.insertCell(1);
        cell1.innerHTML = '<b style="font-weight:bold;font-size:20px;">Total</b>';
        // cell2.innerHTML = "<b></b>";


        $.each(rowSumList, function (key, item) {

            if (item.index > 0) {

                cell = row.insertCell(item.index);
                cell.innerHTML = '<b style="font-weight:bold;font-size:20px;">' + item.total + '</b>';
            }

        });
        




    }


    function LoadAllProjects() {

        var url = "@Url.Action("GetProjec", "Project")";
        $.getJSON(url, function (json) {
            var elem = $("#txtProject");
            $("#txtProject").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'>---Select---</option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
</script>

