@{
    Layout = null;  
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CkdDisplay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
   
    <link href="~/css/clockStyle.css" rel="stylesheet" />
    <link href="~/css/style.default.css" rel="stylesheet" />
    <link href="~/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .counter-count {
            text-align: center;
        }
    </style>

</head>

<body style="background-color: #0C0C1E; ">


    <div class="container-fluid" style="margin-top: 0px;background-color: black;border: 5px solid bisque  ">

        <div class="row">

            <div class="clock col-lg-12">
                <div id="Date"></div>
                <ul>
                    <li id="hours"></li>
                    <li id="point">:</li>
                    <li id="min"></li>
                    <li id="point">:</li>
                    <li id="sec"></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container-fluid" style="margin-top: 0px; background-color: #123D6A; border: 5px solid #202833; text-align: center;">

        <marquee direction="right" behavior="alternate" style="font-size: 30px;color: white">CKD Production Display</marquee>



    </div>
    <br />

    <div class="container col-12" id="divProductionLineData" style="font-size: 24px; margin-top: 0; color: white;">



        <table class="table table-bordered" id="display" style="margin-left: 1px; border: 6px solid khaki;">
            <thead>
                <tr>
                    <th style="background-color: #182432; color: white; text-align: center">Model</th>
                    <th style="background-color: #131A23; color: white; text-align: center">Line</th>
                    <th style="background-color: #2E141B; color: white; text-align: center">SMT Passed</th>
                    <th style="background-color: #2A1B3C; color: white; text-align: center">SMT Failed</th>
                    <th style="background-color: black; color: white; text-align: center">Software Passed</th>
                    <th style="background-color: #202833; color: white; text-align: center">Software Failed</th>
                    <th style="background-color: #2E141B; color: white; text-align: center">MMI Passed</th>
                    <th style="background-color: #2A1B3C; color: white; text-align: center">MMI Failed</th>
                    <th style="background-color: #2E141B; color: white; text-align: center">RF Passed</th>
                    <th style="background-color: #2A1B3C; color: white; text-align: center">RF Failed</th>



                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>

    </div>
    </body>
</html>


    <script src="~/js/vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/js/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/vendor/chart.js/Chart.min.js"></script>

    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/modernizr-1.5.min.js"></script>
    <script src="~/js/win8.js"></script>
    <script>
        window.setInterval(function () {
            debugger;
            PassFailDisplay();
        }, 10000);

        setTimeout(function () {

            location.reload();
        }, 600000);

        var serverDate = '@(TempData["datep"])';
    $(document).ready(function () {
        PassFailDisplay();
        // Create two variable with the names of the months and days in an array
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        // Create a newDate() object
        var newDate = new Date(serverDate);
        // Extract the current date from Date object
        newDate.setDate(newDate.getDate());
        // Output the day, date, month and year
        $('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());

        setInterval(function () {
            // Create a newDate() object and extract the seconds of the current time on the visitor's
            var seconds = new Date().getSeconds();
            // Add a leading zero to seconds value
            $("#sec").html((seconds < 10 ? "0" : "") + seconds);
        }, 1000);

        setInterval(function () {
            // Create a newDate() object and extract the minutes of the current time on the visitor's
            var minutes = new Date().getMinutes();
            // Add a leading zero to the minutes value
            $("#min").html((minutes < 10 ? "0" : "") + minutes);
        }, 1000);

        setInterval(function () {
            // Create a newDate() object and extract the hours of the current time on the visitor's
            var hours = new Date().getHours();
            // Add a leading zero to the hours value
            $("#hours").html((hours < 10 ? "0" : "") + hours);
        }, 1000);




    });

        function PassFailDisplay() {
            debugger;
            //var dates = "2018-10-29";

            $.ajax({
                url: '@Url.Action("DisplayPassFailCount", "CkdReport")',
                type: 'POST',
                data: JSON.stringify({ date: serverDate }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {


                    var html = '';


                    if (result.length == 0) {
                        $('#divProductionLineData').empty();
                        $('#divProductionLineData').text('No Production Data available');
                    } else {

                        $.each(result, function (index, itemData) {
                            html += '<tr style="color: white;text-align:center;font-size:25px;">';
                            html += '<td style="color: white;text-align:center;">' + itemData.Model + '</td>';
                            html += '<td style="color: white;text-align:center;">' + itemData.LineId + '</td>';
                            html += '<td style="color: white;text-align:center;">' + itemData.SMTPassed + '</td>';
                            html += '<td style="color: white;text-align:center;">' + itemData.SMTPFailed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.SoftwareLoadPassed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.SoftwareLoadPFailed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.MMIPassed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.MMIPFailed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.RfPassed + '</td>';
                            html += '<td style="color:white;text-align:center;">' + itemData.RfPFailed + '</td>';
                            html += '</tr>';

                        });

                        $('.tbody').html(html);
                    }

                   


                },
                error: function (result, textStatus, jqXHR) {

                    return false;
                }
            });
        }
        
       

    </script>




