
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2></h2>
<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow: auto;
        float: left;
    }
</style>
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Account </a></li>
        <li class="breadcrumb-item active">Change Password</li>
    </ul>
</div>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-3">
                &nbsp;
            </div>

                <div class="col-lg-6">
                    <div class="card" style="height: 490px;">
                        <div class="card-close">

                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Change Password</h3>
                        </div>


                        <div class="card-body">

                            <div class="form-horizontal" style="margin-top: 30px;">
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Old Password</label>
                                    <div class="col-sm-6" id="mbCode">
                                        <input id="txtOldPassword" type="password" name="Password" maxlength="11" placeholder="Old Password" required="" class="form-control form-control-success">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">New Password</label>
                                    <div class="col-sm-6" id="mbCode">
                                        <input id="txtNewPassword" type="password" name="Password" maxlength="11" placeholder="New Password" required="" class="form-control form-control-success">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Confirm New Password</label>
                                    <div class="col-sm-6" id="mbCode">
                                        <input id="txtConfirmNewPassword" type="password" name="Password" maxlength="11" placeholder="Confirm New Password" required="" class="form-control form-control-success">
                                    </div>
                                </div>
                                
                                <div class="col-sm-9 offset-sm-3">
                                    <input type="checkbox" id="chkShow" onclick="myFunction()" value=" "><small style=" margin-bottom 5px;">Show Passwords </small>
                                </div>
                                <div class="col-sm-9 offset-sm-3">
                                    &nbsp;
                                </div>

                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary" id="btnUpdate" style=" width: 300px;"><i class="fa fa-plus"></i> Update Password</button>
                                    </div>
                                </div>
                          
                        </div>
                    </div>
                </div>
            </div>

    </div>

    @*<input type="hidden" name="hdemployeeName" id="hdprojectName" />*@
</section>

<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/js/vendor/JQueryEasyUI/themes/black/easyui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="~/js/vendor/jquery.easyui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/iziToast.min.js"></script>
<script src="~/js/vendor/JqueryChoosen/chosen.jquery.min.js"></script>
<script>

    $(document).ready(function() {

        //$("#chkShow").click(function () {
        //    if ($(this).is(":checked")) {

        //        $('#txtOldPassword').attr('type', 'text');
        //        //$('#txtNewPassword').attr('type', 'text');
        //        //$('#txtConfirmNewPassword').attr('type', 'text');
        //    } else {
        //        $("#txtOldPassword").attr('type', 'password');
        //        //$("#txtNewPassword").attr('type', 'password');
        //        //$("#txtConfirmNewPassword").attr('type', 'password');
        //    }
        //});

    });
    function myFunction() {
        var old = document.getElementById("txtOldPassword");
        var newP = document.getElementById("txtNewPassword");
        var conf = document.getElementById("txtConfirmNewPassword");

        if (old.type === "password" || newP.type === "password" || conf.type === "password") {
            old.type = "text";
            newP.type = "text";
            conf.type = "text";
        } else {
            old.type = "password";
            newP.type = "password";
            conf.type = "password";
        }
    }
    function AllClear() {

        $("#txtOldPassword").val('');
        $("#txtNewPassword").val('');
        $("#txtConfirmNewPassword").val('');
        $('#chkShow').attr('checked', false);
    }
    $("#btnUpdate").click(function () {
        var credentials = {};
        if ($("#txtOldPassword").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Old Password Required'
            });
            return false;
        }
        else if ($("#txtNewPassword").val() == "") {
           iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'New Password Required'
            });
            return false;
        }

        else if ($("#txtConfirmNewPassword").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Confirm Password Required'
            });
            return false;
        }
        else if ($("#txtConfirmNewPassword").val() != $("#txtNewPassword").val()) {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Password Do Not Match'
            });
            return false;
        }


        else {
            
            credentials.Password = $("#txtOldPassword").val();
            var newPassword = $("#txtNewPassword").val();
            $.ajax({
                url: '@Url.Action("UpdatePassword", "Account")',
                type: 'Post',
                data: JSON.stringify({ login: credentials, newPassword: newPassword }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Password Updated Successfully'
                        });
                        var url = '@Url.Action("LogOut", "Account")';
                        window.location.href = url;
                        return true;
                        
                        //location.reload();
                    } else {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: result.Message
                        });
                    }

                },
                error: function (result, textStatus, jqXHR) {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: result
                    });

                    //return false;
                }
            });
        }
    });

</script>

